.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 2px;

  nb-icon {
    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow(0 0 5px black);
    color: #fff;

    &:hover {
      color: #ff3d71;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    li {
      list-style-type: none;
      margin-left: 1rem;

      a {
        text-decoration: none;

        h3 {
          margin: 0;
          padding: 5px;
          color: #fff;
          border-radius: 10px;
          font-weight: bold;
          text-shadow: 0 0 5px black;

          &:hover {
            color: #ff3d71;
          }
        }
      }
    }
  }
}
